@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color:250 250 250;
    --surface-color:19 37 46;
    --light-surface:255 255 255;
    --darker-bg:242 242 242;
    --primary-color:42 238 123;
    --cta-color:48 171 233;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Thin.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Peyda";
    src: url(../assets/fonts/PeydaFaNum-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
}

body,*{
    font-family: 'Peyda';
    background-color: var(--bg-color);
}

@layer utilities{
    .activeTab{
        @apply !opacity-100 bg-cta/10 text-cta;
    }
    
    .tab{
        @apply px-2 py-1 rounded-lg opacity-50 transition-all duration-200;
    }

    .footerTab{
        @apply flex flex-col gap-1 items-center text-xs opacity-40 transition-opacity duration-200;
    }
}